[data-bs-theme=light] body {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif !important;
    font-size: 13px !important;
    background-color: #343434;
}
.container {
    max-width: 955px !important;
}
#wrapper-header {
    position: relative;
}
#wrapper-header::before {
    content: '';
    position: absolute;
    top: 0;
    height: 280px;
    width: 100%;
    background-color: var(--bs-primary);
}
.dropdown-item.active,
.dropdown-item:active,
#main-menu .dropdown-menu {
    color: #fff;
    background-color: var(--bs-primary) !important;
}
.bg-header {
    background: transparent !important;
}
.navbar-brand img {
    max-height: 130px !important;
}
#primary-menu a {
    font-size: 0.8rem;
}
.widget-area .widget {
    position: relative;
    background: #fff;
    box-shadow: 3px 0px 20px 0px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 3px 0px 20px 0px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 3px 0px 20px 0px rgba(0,0,0,0.3) inset;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid rgba(181, 181, 181, 0.7);
    padding: 0.65rem;
    margin-bottom: 1rem;
}
.widget-area .table>:not(caption)>*>*, 
.widget-area .widget_calendar .wp-calendar-table>:not(caption)>*>*,
.widget-area .wp-block-table table>:not(caption)>*>*, 
.widget-area table:not(.table)>:not(caption)>*>* {
    padding: 0.25rem 0.25rem;
}
.widget-area h3.widget-title {    
    font-size: 1rem;
    font-weight: bold;
    /* position: relative;
    background-image: linear-gradient(180deg, rgb(255 255 255 / 85%), rgb(255 255 255 / 44%));
    border: 1px solid var(--bs-secondary);
    background-color: var(--bs-secondary); */
}
/* .widget-area h3.widget-title:before {
    content: '\f19d';
    font-family: 'fontawesome';
    margin-right: 0.35rem;
    position: relative;
    display: inline-block;
} */
.widget-area .widget > *:not(.widget-title):not(#searchform):not(.customize-partial-edit-shortcut) {
    padding: 0 0.35rem;
}
.widget_search #searchsubmit,
.widget_search #s {
    padding: 0.25rem;
    font-size: .85rem;
}
.widget ul,
.entry-content ul {
    list-style: none;
    padding-left: 0 !important;
}
.widget-area .widget > ul {
    padding-left: .35rem !important;
}
.widget ul > li,
.entry-content ul > li {
    padding-left: .65rem;
    position: relative;
}
.widget ul > li:before,
.entry-content ul > li:before {
    content: '\f0da';
    font-family: 'FontAwesome';
    color: var(--bs-primary);
    position: absolute;
    left: 0px;
    top: 0;
    display: inline-block;
}
.entry-content ul > li {
    padding-left: .75rem;
}
.entry-content ul {
    padding-left: 1rem !important;
}
.entry-content ul > li:before {
    content: '';
    background: rgb(8,60,119);
    background: linear-gradient(355deg, rgba(8,60,119,1) 0%, rgba(95,172,255,1) 100%);
    width: 0.45rem;
    height: 0.45rem;
    border-radius: 100%;
    margin-top: 0.25rem;
}
.entry-header .entry-title,
.entry-header .content-title {
    border-bottom: 3px solid var(--bs-primary);
    padding: 0.35rem 0;
    color: var(--bs-secondary);
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.entry-header .content-title a {
    color: var(--bs-secondary);
    font-size: 1rem;
}
.entry-header .content-title a:hover {
    color: var(--bs-primary);
}
.widget_calendar caption {
    caption-side: top;
    text-align: center;
    padding-top: 0;
}
.widget_calendar #today {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    text-align: center;
}

.menu-header {
    background: var(--bs-primary);
    background-image: linear-gradient(180deg, rgb(255 255 255 / 30%), rgb(0 0 0 / 40%));
}

@media (min-width: 768px) {
    #primary-menu > li::before{
        position: absolute;
        display: block;
        content: ' ';
        top: 0;
        width: 1px;
        height: 100%;
        background-color: hsla(0, 0%, 100%, 0.1);
    }
    #primary-menu > li > a {
        transition: all .5s ease;
        position: relative;
        color: #ffffff;
        font-size: 0.9rem;
        padding: 0.5rem 0.65rem;
    }
    #primary-menu > li > a:hover,
    #primary-menu > li.current-menu-item > a {
        background-image: var(--bs-gradient);
    }
}

@media (min-width: 1000px) {
    .widget-area {    
        max-width: 27% !important;
        min-width: 27%;
    }
}